
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Us</h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                {{.Site.Params.aboutus1}}
              </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                {{.Site.Params.aboutus2}}
              </p>
              <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  